html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #425466;
  line-height: 27px;
}

h1,
h2 {
  font-size: 3.6rem;
  line-height: 44px;
  font-weight: 700;
}

.btn {
  border-color: transparent;
  padding: 18px 24px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 43.688rem) {
  .wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (min-width: 62.438rem) {
  .wrapper {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.hero {
  display: grid;
  row-gap: 4rem;
}
.hero-description {
  display: grid;
  row-gap: 4rem;
  padding-top: 4rem;
}
.hero-description .hero-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero-description .hero-nav .menu-btn {
  cursor: pointer;
}
.hero-description .hero-nav .menu-btn .none {
  display: none;
}
.hero-description .hero-nav .menu.is-active {
  opacity: 1;
  pointer-events: auto;
  row-gap: 4rem;
}
.hero-description .hero-nav .menu {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
  position: absolute;
  left: 0;
  top: 108px;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.hero-description .hero-nav .menu .btn-cta {
  background-color: #1d1b65;
  max-width: 19.6rem;
  color: white;
}
.hero-description .hero-text {
  display: grid;
  row-gap: 8px;
}
.hero-description .hero-text h1 {
  color: #1d1b65;
}
.hero-description .hero-text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  margin-block: 8px 16px;
}
.hero-description .hero-text-btn .btn-cta {
  background-color: #1d1b65;
  max-width: 19.6rem;
  color: white;
}
.hero-description .hero-text-btn .btn-cta__demo {
  background-color: white;
  max-width: 19.6rem;
  color: #425466;
  max-width: 14.8rem;
  max-height: 6.3rem;
}
.hero-description .hero-text-accord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.hero-description .hero-text-accord p a {
  text-decoration: underline;
  font-weight: 700;
}
.hero-img .btn-cta__nav {
  display: none;
}
.hero-img-container {
  background-color: #45ccde;
  padding: 45px 34px 45px 23px;
}
@media screen and (min-width: 43.688rem) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .hero-description {
    padding-top: 5.5rem;
    padding-right: 8.5rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    row-gap: 0;
  }
  .hero-description .hero-nav {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
  .hero-description .hero-nav .menu-btn,
.hero-description .hero-nav .btn-cta {
    display: none;
  }
  .hero-description .hero-nav .menu {
    -webkit-column-gap: 2.4rem;
       -moz-column-gap: 2.4rem;
            column-gap: 2.4rem;
    position: static;
    opacity: 1;
    pointer-events: auto;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
  }
  .hero-description .hero-text-btn {
    row-gap: 8px;
  }
  .hero-img {
    background-color: #45ccde;
    height: 73.6rem;
    padding-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 12rem;
  }
  .hero-img .btn-cta {
    background-color: #1d1b65;
    max-width: 19.6rem;
    color: white;
    display: inline-block;
  }
  .hero-img .btn-cta__nav {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 4rem;
  }
  .hero-img-container {
    padding: 0 3.4rem 0 2.3rem;
  }
}
@media screen and (min-width: 62.438rem) {
  .hero-description .hero-text h1 {
    font-size: 5.6rem;
    line-height: 67.77px;
  }
  .hero-img {
    height: 90rem;
  }
  .hero-img .btn-cta__nav {
    margin-right: 15rem;
  }
  .hero-img-container {
    padding-left: 5.8rem;
    padding-right: 6rem;
  }
}

.main-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4.6rem;
  padding-bottom: 4.6rem;
  row-gap: 3.2rem;
}
.main-social-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.2rem;
}
.main-social-title h2 {
  color: #1d1b65;
}
.main-social-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.main-social-title ul li {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 43.688rem) {
  .main-social-title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-social-title h2 {
    -ms-flex-preferred-size: 52%;
        flex-basis: 52%;
  }
  .main-social-title ul {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media screen and (min-width: 62.438rem) {
  .main-social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .main-social-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .main-social-description {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}
.main-features {
  background-color: #ccf9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
  row-gap: 6rem;
}
.main-features-dashboard, .main-features-analytics {
  display: grid;
  row-gap: 8px;
}
.main-features-dashboard p:first-child, .main-features-analytics p:first-child {
  color: #3b60bf;
  font-weight: 700;
  line-height: 2.2rem;
}
.main-features-dashboard h2, .main-features-analytics h2 {
  color: #005661;
  max-width: 49.3rem;
}
.main-features-dashboard p:last-of-type, .main-features-analytics p:last-of-type {
  margin-bottom: 8px;
}
.main-features-dashboard .btn-cta, .main-features-analytics .btn-cta {
  background-color: #1d1b65;
  max-width: 19.6rem;
  color: white;
}
.main-features-dashboard a, .main-features-analytics a {
  color: #425466;
  font-weight: 700;
}
@media screen and (min-width: 62.438rem) {
  .main-features {
    padding-top: 6.7rem;
    padding-bottom: 6.7rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-features-dashboard {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .main-features-analytics {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}

.footer {
  display: grid;
  padding-top: 3.7rem;
  padding-bottom: 4rem;
  row-gap: 3.2rem;
}
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.2rem;
}
.footer-content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-column-gap: 9.2rem;
     -moz-column-gap: 9.2rem;
          column-gap: 9.2rem;
  row-gap: 2.4rem;
}
.footer-content-nav .links {
  display: grid;
  row-gap: 1.6rem;
}
.footer-content-nav .links h3 {
  font-size: 2rem;
  font-weight: 700;
}
.footer-content-nav .links ul {
  display: grid;
  row-gap: 8px;
  color: #425466;
}
.footer-content-form {
  display: grid;
  row-gap: 8px;
}
.footer-content-form p {
  color: black;
  font-weight: 700;
}
.footer-content-form .form {
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 432px;
  height: 76px;
}
.footer-content-form .form input[type=email] {
  padding-left: 25px;
}
.footer-content-form .form .btn-cta {
  background-color: #1d1b65;
  max-width: 19.6rem;
  color: white;
  position: absolute;
  margin-top: 5px;
  margin-right: 6px;
  height: 63px;
  top: 0;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 62.438rem) {
  .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content-nav {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .footer-content-form {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
  }
}
/*# sourceMappingURL=main.css.map */