@use "variables" as v;

.hero {
  display: grid;
  row-gap: 4rem;

  &-description {
    display: grid;
    row-gap: 4rem;
    padding-top: 4rem;

    .hero-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-btn {
        cursor: pointer;

        .none {
          display: none;
        }
      }

      .menu.is-active {
        opacity: 1;
        pointer-events: auto;
        row-gap: 4rem;
      }

      .menu {
        background-color: v.$color-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        position: absolute;
        left: 0;
        top: 108px;
        width: 100%;
        height: 100vh;
        padding-top: 30px;
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none;

        .btn-cta {
          @include v.button-bg(v.$color-primary);
        }
      }
    }

    .hero-text {
      display: grid;
      row-gap: 8px;

      h1 {
        color: v.$color-primary;
      }

      &-btn {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3rem;
        margin-block: 8px 16px;

        .btn-cta {
          @include v.button-bg(v.$color-primary);
          max-width: 19.6rem;
          max-height: 6.3rem;
        }

        .btn-cta__demo {
          @include v.button-bg(v.$color-white);
          max-width: 14.8rem;
          max-height: 6.3rem;
        }
      }

      &-accord {
        display: flex;
        column-gap: 16px;

        p {
          a {
            text-decoration: underline;
            font-weight: 700;
          }
        }
      }
    }
  }

  &-img {
    &-container {
      .btn-cta {
        display: none;
      }
    }
  }

  @include v.breakpoint(medium) {
    grid-template-columns: 1fr 1fr;

    &-description {
      padding-top: 5.5rem;
      padding-right: 8.5rem;
      align-items: baseline;
      row-gap: 0;

      .hero-nav {
        column-gap: 50px;

        .menu-btn,
        .btn-cta {
          display: none;
        }

        .menu {
          column-gap: 2.4rem;
          position: static;
          opacity: 1;
          pointer-events: auto;
          height: auto;
          flex-direction: row;
          padding-top: 0;
        }
      }

      .hero-text {
        &-btn {
          row-gap: 8px;
        }
      }
    }

    &-img {
      background-color: v.$color-secondary-mockup;
      height: 736px;
      padding-top: 4rem;
      display: flex;
      flex-direction: column;
      row-gap: 13rem;

      .btn-cta {
        @include v.button-bg(v.$color-primary);
        display: inline-block;
      }

      .btn-cta__nav {
        align-self: flex-end;
        margin-right: 4rem;
      }

      &-container {
        padding-right: 2.3rem;
        padding-left: 3.4rem;
        max-width: 60rem;
        max-height: 59.5rem;
      }
    }
  }

  @include v.breakpoint(large) {
    &-description {
      .hero-text {
        h1 {
          font-size: v.$fs-title-big;
          line-height: 67.77px;
        }
      }
    }

    &-img {
      height: 900px;

      .btn-cta__nav {
        margin-right: 15rem;
      }

      &-container {
        padding-left: 5.8rem;
        padding-right: 6rem;
      }
    }
  }
}
