@use "variables" as v;

.main {
  &-text {
    margin-top: 3.9rem;
    margin-bottom: 3.9rem;
    text-align: center;
    display: grid;
    row-gap: 8px;

    h1 {
      font-size: v.$fs-title-big;
      line-height: 6.8rem;
    }

    p {
      max-width: 75.5rem;
      margin: 0 auto;
    }

    fieldset {
      margin-top: 2.4rem;
      .c-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 16px;

        label {
          color: v.$color-text;
          cursor: pointer;
        }

        .c-toggle__wrapper {
          width: 6rem;
          height: 3.2rem;
          border-radius: 3.2rem;
          border: 1px solid #ddd;
          position: relative;

          input[type="radio"] {
            display: inline-block;
            margin-right: -4px;
            width: 50%;
            height: 100%;
            opacity: 0;
            position: relative;
            z-index: 1;
            cursor: pointer;

            &:focus ~ .c-toggle__switcher {
              border: 3px solid transparent;
            }
          }

          .c-toggle__switcher {
            margin-top: 3px;
            margin-left: 3px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 100%;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: v.$color-white;
            transition: all 0.1s ease-out;
            z-index: 2;
          }

          .c-toggle__background {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            border-radius: 3.5em;
            background-color: v.$color-switch;
            transition: all 0.1s ease-out;
          }

          #yearly:checked ~ .c-toggle__switcher {
            right: 0;
            left: 50%;
          }
        }
      }
    }
  }

  @include v.breakpoint(medium) {
    & {
      margin-top: 6.9rem;
      margin-bottom: 6.3rem;
    }
  }

  &-card {
    margin-bottom: 8rem;
  }
}
